.env.ambient
env_project_database/
tests/__pycache__/test_CRUD.cpython-311-pytest-7.2.1.pyc
o que fazer.txt
Hospital.db
main3.py
__pycache__/
crud_paciente2.py
.vscode/
tests/teste_hospital.db
teste_hospital.db
CRUDS/crud_medico2.py
.pytest_cache/